<footer>
	<div class="container-fluid p-4">
		<div class="row principal">
			<div class="direccion text-center">
				<div class="d-flex justify-content-center">
					<a href="https://goo.gl/maps/LGNr8yhEjDU7Dr898" target="_blank">
						<p id="ubicacion">
							<mat-icon>place</mat-icon>
							C. Francisco Bores, 3, 28320 Pinto, Madrid
						</p>
					</a>
				</div>
				<p class="titulo mt-4">
					<a href="tel:+34916706645" class="telefono">
						<p>
							<mat-icon>phone</mat-icon>
							916 70 66 45
						</p>
					</a>
				</p>
				<div class="foot">
					<p>Copyright ©2023 All rights reserved | This app is made with ❤ by Pelayo Peral Moreno</p>
				</div>
			</div>
		</div>
	</div>
</footer>