<footer>
	<div class="container-fluid p-4">
		<div class="row principal">
			<div class="direccion text-center">
				<div class="d-flex justify-content-center">
					<a href="https://goo.gl/maps/7MU7DkS6HR4gjKQeA" target="_blank">
						<p id="ubicacion">
							<mat-icon>place</mat-icon>
							Ctra. Fuencarral a Alcobendas, 20, 28049 Madrid
						</p>
					</a>
				</div>
				<p class="titulo mt-4">
					<a href="tel:+34913820525" class="telefono">
						<p>
							<mat-icon>phone</mat-icon>
							913 82 05 25
						</p>
					</a>
				</p>
				<div class="foot">
					<p>Copyright ©2023 All rights reserved | This app is made with ❤ by Pelayo Peral Moreno</p>
				</div>
			</div>
		</div>
	</div>
</footer>