<div class="container">
	<div class="content">
		<h1 class="welcome-heading">¡Bienvenido a CardHeaven!</h1>
		<p class="tagline">¡Explora y descubre el emocionante mundo de Magic: The Gathering!</p>

		<mat-card class="bg-dark app-info">
			<h2 class="section-heading">Descubre CardHeaven</h2>
			<p>CardHeaven es una aplicación que te permite buscar cartas de forma sencilla y rápida. Con nuestra plataforma, puedes disfrutar de las siguientes funcionalidades:</p>
			<ul class="custom-list">
				<li>Realiza búsquedas de cartas específicas.</li>
				<li>Explora y descubre nuevas cartas.</li>
				<li>Obtén información detallada sobre cada carta.</li>
			</ul>
		</mat-card>

		<mat-card class="bg-dark advantages mat-elevation-z2">
			<h2 class="section-heading">Ventajas de usar CardHeaven</h2>
			<p>CardHeaven te ofrece una experiencia única para los amantes de Magic The Gathering</p>
			<ul class="custom-list">
				<li>Acceso a una amplia base de datos de cartas.</li>
				<li>Búsqueda avanzada para encontrar exactamente lo que necesitas.</li>
				<li>Interfaz intuitiva y fácil de usar.</li>
				<li>Información actualizada de cada carta.</li>
				<li>Sin necesidad de registrarte ni iniciar sesión.</li>
			</ul>
		</mat-card>

		<p class="join-message">¡Explora el universo de <i> Magic: The Gathering</i> con CardHeaven!</p>
	</div>
</div>
