section.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	margin-top: 1.3%;

	.card {
		margin: 0.5%;
		min-height: 180px;
		min-width: 400px;
		max-width: 400px;
		height: 100%;

		mat-divider {
			margin-bottom: 3.5%;
		}

		mat-card-content {
			mat-icon {
				height: min-content;
				width: min-content;
				font-size: medium;
			}
		}
	}

	button {
		width: 100%;
	}
}

.error-container {
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;
	padding: 10px;
	margin-bottom: 10px;
}

.error-message {
	font-weight: bold;
}